.header {
    grid-area: h;
    background: #302438;
    display: flex;
    flex-direction: row;
    height: 70px;



}
.headerImg {
    width: 80px;
    height: 70px;
    left: 40px;
    top: 24px;
    border-radius: 45%;
    object-fit: cover;
    margin: 0 40px;
}

.titleText {
    font-family: 'Graphik LCG';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 140%;
    margin: 5px 0;


    color: #FFFFFF;
}

.pDiv {

}

.loginBlock {
    float: right;
    margin-left: 850px;
    margin-top: 20px;
    color: #FFFFFF;

}

.loginNav {
    color: #FFFFFF;
    font-family: 'Graphik LCG';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;

}